*{
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;   
}

header{
    width: 100%;
    background-color: lightskyblue;
}

.nav-container{
    background-color: #00a2c6;
    display: flex;
    flex: auto;
    padding: 0.5%;
    gap: 2%;
    align-items: center;
    font-size: 0.8rem; 
}

nav a{
    color: white;
    padding: 1%;
}

nav a:hover{
    background-color: #2d3e50;
    border-radius: 10%;
    transition:0.3s all;
}

.main-content{
    display: flex;
    flex: auto;
    width: 100%;
    align-items: center;
    padding: 5%;
    gap: 5%;
}

.profile{
    width: 50%;
    border-radius: 5%;
}

a{
    text-decoration: none;
}

.content{
    font-size: 0.75rem;
}

.content p{
    text-align: justify;
}

.jumbotron{
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card{
    background-color: azure;
    padding: 2%;
    box-shadow: 19px 14px 47px 7px rgba(0,0,0,0.27);
    width: 70%;
    margin-bottom: 3%;
    margin-right: 2%;
}

.card-details{
    background-color: azure;
    padding: 2%;
    box-shadow: 19px 14px 47px 7px rgba(0,0,0,0.27);
    width: 70%;
    margin-bottom: 3%;
    margin-right: 2%;
}

.card-details img{
    width: 100%;
}

.card img{
   width: 100%;
}

main{
    padding-left: 1%;
}

.card-container{
    display: flex;
}

.active{
    background-color: #2d3e50;
    border-radius: 10px;
}

.btn{
    background-color: #0dcaf0;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.btn:hover{
    background-color: #2d3e50;
    transition: 0.5s all;
}

footer{
    width: 100%;
    background-color: lightskyblue;
    padding: 2%;
}

.footer-content{
    display: flex;
    flex: auto;
    gap: 2%;
}

.footer-section{
    width: 50%;
}

.social-links{
    display: flex;
    flex: auto;
    gap: 20px;
}

.footer-section a {
    color: black;
    font-size: 1.5em;
}


@media screen and (max-width:600px){
    .card{
        width: 100%;
    }

    .card-details{
        width: 100%;
    }

    .card-container{
        display: grid;
    }
    .btn{
        background-color: #0dcaf0;
        color: white;
        padding: 5px;
        border-radius: 10px;
    }
    .footer-content{
        font-size: 0.9em;
    }
    main{
        display: flex;
        flex: auto;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 5%;
        gap: 5%;
    }
}

@media screen and (min-width:600px){
    .nav-container{
        font-size: 1rem;
    }
    .card{
        width: 48%;
    }
    .card-details{
        width: 100%;
    }

    .card-container{
        display: flex;
        flex-wrap: wrap;
    }
    .btn{
        background-color: #0dcaf0;
        color: white;
        padding: 7px;
        border-radius: 10px;
    }
    .content{
        font-size: 0.9rem;
    }
}

@media screen and (min-width:992px){
    .card{
        width: 23%;
    }

    .card-container{
        display: flex;
        flex-wrap: wrap;
    }
    .nav-container{
        font-size: 1.2rem;
    }
    .content{
        font-size: 1.2rem;
    }
}